/data/encoded/
/data/medline_lastview.parquet/
/data/labels/original/
/data/labels/mixthem.py
/data/labels/swapthem.py
/data/labels/toswap.csv
/.idea
scripts/get_ready.py
scripts/get_stats.py
scripts/features_bow.py
/data/encoded/*
/data/results/ngrams/bootstrap/
/data/results/fields/bootstrap/
/specter/
