lxml==4.5.2
pandas == 1.1.1
pubmed-parser @ git+https://github.com/fgh95/pubmed_parser.git@b4697873051b8a44de58ef0a43350a08a0e2f688
pyspark==3.0.1
spacy==2.3.2
scispacy==0.2.5
en-ner-bc5cdr-md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.5/en_ner_bc5cdr_md-0.2.5.tar.gz
scikit-learn==0.23.2
nltk==3.5
pyarrow==1.0.1



