lxml==4.6.3
pandas == 1.1.1
pubmed-parser @ git+git://github.com/fgh95/pubmed_parser.git@e33d13919a6cdfa34f30916b556a8577345d9d5c
pyspark==3.1.2
findspark==1.4.2
spacy==2.3.2
scispacy==0.2.5
en-ner-bc5cdr-md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.5/en_ner_bc5cdr_md-0.2.5.tar.gz
scikit-learn==0.23.2
nltk==3.5
pyarrow==1.0.1
tqdm==4.49.0
numpy==1.19.2
matplotlib==3.3.2
xgboost == 0.90
scipy==1.5.2
requests==2.24.0
regex==2020.9.27
ujson==4.0.1
torch==1.6.0
six==1.15.0
Unidecode==1.1.1
setuptools==49.6.0
transformers==3.3.1
pytest==6.2.1
joblib==0.16.0
